<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>spring-boot-demo-upload</title>
	<!-- import Vue.js -->
	<script src="//vuejs.org/js/vue.min.js"></script>
	<!-- import stylesheet -->
	<link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
	<!-- import iView -->
	<script src="//unpkg.com/iview/dist/iview.min.js"></script>
</head>
<body>
<div id="app">
	<Upload
			:before-upload="handleLocalUpload"
			action="//jsonplaceholder.typicode.com/posts/"
			ref="localUpload"
			:on-success="handleLocalSuccess"
			:on-error="handleLocalError"
	>
		<i-button icon="ios-cloud-upload-outline">选择文件</i-button>
	</Upload>
	<i-button
			type="primary"
			@click="localUpload"
			:loading="localUpload.loadingStatus"
			:disabled="!localUpload.file">
		{{ localUpload.loadingStatus ? '上传中' : '上传' }}
	</i-button>
</div>
<script>
	new Vue({
		el: '#app',
		data: {
			localUpload: {
				// 选择文件后，将 beforeUpload 返回的 file 保存在这里，后面会用到
				file: null,
				// 标记上传状态
				loadingStatus: false
			},
		},
		methods: {
			// beforeUpload 在返回 false 或 Promise 时，会停止自动上传，这里我们将选择好的文件 file 保存在 data里，并 return false
			handleLocalUpload(file) {
				this.localUpload.file = file;
				return false;
			},
			// 这里是手动上传，通过 $refs 获取到 Upload 实例，然后调用私有方法 .post()，把保存在 data 里的 file 上传。
			// iView 的 Upload 组件在调用 .post() 方法时，就会继续上传了。
			localUpload() {
				this.localUpload.loadingStatus = true;  // 标记上传状态
				this.$refs.localUpload.post(this.localUpload.file);
			},
			// 上传成功后，清空 data 里的 file，并修改上传状态
			handleLocalSuccess() {
				this.localUpload.file = null;
				this.localUpload.loadingStatus = false;
				this.$Message.success('上传成功');
			},
			// 上传失败后，清空 data 里的 file，并修改上传状态
			handleLocalError() {
				this.localUpload.file = null;
				this.localUpload.loadingStatus = false;
				this.$Message.error('上传失败');
			}
		}
	})
</script>
</body>
</html>