<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xkcoding.task.quartz.mapper.JobMapper">

    <select id="list" resultType="com.xkcoding.task.quartz.entity.domain.JobAndTrigger">
        SELECT
            qrtz_job_details.JOB_NAME          AS jobName,
            qrtz_job_details.JOB_GROUP         AS jobGroup,
            qrtz_job_details.JOB_CLASS_NAME    AS jobClassName,
            qrtz_triggers.TRIGGER_NAME         AS triggerName,
            qrtz_triggers.TRIGGER_GROUP        AS triggerGroup,
            qrtz_triggers.TRIGGER_STATE       AS triggerState,
            qrtz_cron_triggers.CRON_EXPRESSION AS cronExpression,
            qrtz_cron_triggers.TIME_ZONE_ID    AS timeZoneId
        FROM
            qrtz_job_details
                JOIN qrtz_triggers
                JOIN qrtz_cron_triggers
                     ON qrtz_job_details.JOB_NAME = qrtz_triggers.JOB_NAME
                         AND qrtz_triggers.TRIGGER_NAME = qrtz_cron_triggers.TRIGGER_NAME
                         AND qrtz_triggers.TRIGGER_GROUP = qrtz_cron_triggers.TRIGGER_GROUP
    </select>
</mapper>