package ${package}import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.baomidou.mybatisplus.extension.activerecord.Model;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;

.${moduleName}.entity;
    #if(${hasBigDecimal})
    #end

/**
 * <p>
 * ${comments}
 * </p>
 *
 * @package:  ${package}.${moduleName}.entity
 * @description: ${comments}
 * @author: ${author}
 * @date: Created in ${datetime}
 * @copyright: Copyright (c) ${year}
 * @version: V1.0
 * @modified: ${author}
 */
@Data
@TableName("${tableName}")
@ApiModel(description = "${comments}")
@EqualsAndHashCode(callSuper = true)
public class ${className} extends Model<${className}> {
    private static final long serialVersionUID = 1L;

  #foreach ($column in $columns)
    /**
     * $column.comments
     */
    #if($column.columnName == $pk.columnName)
    @TableId
    #end
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.lowerAttrName;
  #end

}
