import request from '@/router/axios'

/**
 * 分页查询${comments}
 * @param query 分页查询条件
 */
export function fetchList(query) {
  return request({
    url: '/${moduleName}/${pathName}',
    method: 'get',
    params: query
  })
}

/**
 * 新增${comments}
 * @param obj ${comments}
 */
export function addObj(obj) {
  return request({
    url: '/${moduleName}/${pathName}',
    method: 'post',
    data: obj
  })
}

/**
 * 通过id查询${comments}
 * @param id 主键
 */
export function getObj(id) {
  return request({
    url: '/${moduleName}/${pathName}/' + id,
    method: 'get'
  })
}

/**
 * 通过id删除${comments}
 * @param id 主键
 */
export function delObj(id) {
  return request({
    url: '/${moduleName}/${pathName}/' + id,
    method: 'delete'
  })
}

/**
 * 修改${comments}
 * @param id 主键
 * @param obj ${comments}
 */
export function putObj(id, obj) {
  return request({
    url: '/${moduleName}/${pathName}/' + id,
    method: 'put',
    data: obj
  })
}
