<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xkcoding.springbootdemorabcshiromybatis.dao.MybatisShiroRoleAclMapper">
	<resultMap id="BaseResultMap" type="com.xkcoding.springbootdemorabcshiromybatis.model.MybatisShiroRoleAcl">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="role_id" property="roleId" jdbcType="INTEGER"/>
		<result column="acl_id" property="aclId" jdbcType="INTEGER"/>
		<result column="operator" property="operator" jdbcType="VARCHAR"/>
		<result column="operate_time" property="operateTime" jdbcType="TIMESTAMP"/>
		<result column="operate_ip" property="operateIp" jdbcType="VARCHAR"/>
	</resultMap>
</mapper>